.button {
  width: 100%;
  max-width: 1152px;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  padding: 24px 32px;
  background: #eaecf0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
}

.button:hover {
  background: #d0d5dd;
}
